<div class="container">
<h1>Post a new question</h1>

	<form method="post" action="/questions">
		<input type="hidden" value= <%= current_user.id %> name="question[user_id]">
		<input type="text" name="question[title]" placeholder="title">
		<br>
		<input type="text" name="question[body]" placeholder="body">
		<br>
		<input type="submit" value="Ask a Question">
	</form>

	</div>