qnew

<form method="post" action="/questions">
	<input type="text" name="question[title]" placeholder="title">
	<br>
	<input type="text" name="question[subject]" placeholder="subject">
	<br>
	<input type="submit" value="Ask Question">
</form>