body {
    padding-top: 0px; 
    padding-bottom: 20px;
}

#bg-container{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    z-index:-999;
}

#bg-img{
	background: url(//qsf.ec.quoracdn.net/-images.home.logged_out_bg3.png4d7c94a84f9e7f25.png);

    background-size: 1757px 845px;
    height: 845px;
    width: 1757px;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    left: calc(50% - 878.5px);
    opacity: .9;
    bottom: 0;

}

.clearbg{
	background-color: white;
    opacity: 1;
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
}

#logincontent{
	padding-top: 10%;
}


#loginlogo{
	background-image: url(//qsf.ec.quoracdn.net/-images.logo.wordmark_default.svg7f16ec3f2da864fd.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 82px;
    position: relative;
}

.tagline{
	font-family: Georgia,Times,"Times New Roman",serif;
	font-size: 19px;
    font-weight: 400;	
    text-align: center;
    margin: 8px 0 32px;
    color: #999;
}

.quevote-btn{
    float: left;
}

.ansvote-btn{
    float: left;
}