<h4>Feeds</h4>
<hr>
<h5>Top Stories</h5>
<ul>
		<% 4.times do %>
			<% x = @questions.sample %>
			<li>
				<a href="/questions/<%=x.id%>"><%= x.title %></a>
			</li>
		<% end %>
	<a href="/questions"><h5>See More...</h5></a>
</ul>