<div id="bg-container">
	<div id="bg-img"></div>	
</div>

<section class="container" id="logincontent">
	<div id="loginlogo"></div>	
	<h2 class="tagline">The best answer to any question</h2>
	<div class="jumbotron clearbg">
		<div class="row">
		<div class="col-xs-6 text-left">
			<h5>Sign Up</h5>

			
			<form method="post" action="/signup">
			<h5><small>FULL NAME</small></h5>
				<input type="text" class="form-control" name="user[name]" placeholder="Full Name">
				<br>
				<h5><small>EMAIL</small></h5>
				<input type="text" class="form-control form-control-sm" name="user[email]" placeholder="Email">
				<br>
				<h5><small>PASSWORD</small></h5>
				<input type="password" class="form-control form-control-sm" name="user[password]" placeholder="Password">
				<br>
				<input type="submit" class="btn btn-default btn-xs btn-block" value="Sign up">
			</form>

			<%= @error if @error %>
		</div>
		<div class="col-xs-6 text-left">
		<h5>Login</h5>
			<form method="post" action="/login">
			<h5><small>EMAIL</small></h5>
				<input type="text" class="form-control" name="user[email]" placeholder="Email">
				<br>
				<h5><small>PASSWORD</small></h5>
				<input type="password" class="form-control" name="user[password]" placeholder="Password">
				<br>
				<input type="submit" class="btn btn-default btn-xs btn-block" value="Log in">
			</form>
		</div>
		</div>
	</div>
</section>






